@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  margin: 0;
}

h1 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
}

.nav-container {
  background-color: #67568c;

  a {
    color: white;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  .logo {
    color: #fbdd74;
    font-weight: bold;
  }

  ul {
    display: flex;

    a {
      display: block;
      padding: 0 1em;
    }
  }
}

.social-header,
.not-found-design {
  display: none;
}

.not-found {
  background-color: #67568c;
  color: white;
  display: grid;
  text-align: center;
  padding: 4em;
}

.alert {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 400px;
  font-weight: bold;
  color: #fbdd74;

  span {
    margin-top: 1em;
    margin-right: 0.5em;
  }
}

.home {
  width: 30px;
  margin-top: 2em;
}

@media only screen and (min-width: 1050px) {
  .not-found {
    height: 90vh;
    display: grid;
    grid-template-columns: 50% auto;
    background: unset;
    padding: 0;

    .content {
      background: #67568c;
      padding: 6em 8em 6em 4em;
      text-align: left;

      h1 {
        font-size: 3.5em;
        line-height: 1.2em;
      }
    }
  }
  .alert {
    justify-content: left;
    margin: unset;
  }

  .nav-container {
    display: grid;
    grid-template-columns: 50% auto;
    background: unset;

    header {
      background: #67568c;
    }
  }
  header {
    padding: 2em 2em 2em 6em;
  }
  .social-header {
    padding: 2em 6em 2em 0;
    display: block;

    ul {
      display: flex;
      justify-content: space-between;
      width: 7em;
      float: right;

      img {
        width: 20px;
      }
    }
  }

  .not-found-design {
    display: unset;
    margin-left: -47.9%;
    margin-top: 15%;
    width: 100%;
  }
}
