@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background-color: #67568c;

  a {
    color: white;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  .logo {
    color: #fbdd74;
    font-weight: bold;
  }

  ul {
    display: flex;

    a {
      display: block;
      padding: 0 1em;
    }
  }
}

.social-header,
.hero-design {
  display: none;
}

.hero {
  background-color: #67568c;
  color: white;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #fbdd74;

  span {
    margin-top: 1em;
    margin-right: 0.5em;
  }
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.experience-section {
  position: relative;
  text-align: left;
}

.experience-section::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ff6e6c;
  top: 0;
  right: 0;
  z-index: -1;
}

.experience {
  overflow: hidden;
}

.experience button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #1f1235;
  border-bottom: 3px solid #fbdd74;
}

.experience button:hover {
  background-color: #67568c;
}

.experience button.active {
  background-color: #67568c;
  border-bottom: 3px solid #1f1235;
  color: white;
}

.exp-content {
  display: none;
  padding: 6px 12px;
  color: #1f1235;
  border-top: none;
  text-align: left;

  p {
    margin: 0;
  }
  .position {
    font-weight: bold;
  }

  .date,
  .location {
    font-size: 14px;
  }

  ul {
    margin-top: 10px;
    list-style-type: initial;
    padding-left: 18px;

    li {
      font-size: 14px;
    }
  }
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #fbdd74;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #67568c;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: #1f1235;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #2c2041;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 400;
}

.skills {
  background: #ff6e6c;
}

.skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;

  .icon-container {
    height: 100px;
    display: grid;
    place-content: center;
    margin: 0 auto;

    &.one,
    &.two,
    &.three {
      width: 70px;
    }
  }

  .skill-title {
    font-weight: bold;
    color: #1f1235;
  }
  .featured-desc {
    margin-bottom: 2em;
  }
}

.portfolio {
  background: white;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
  .experience-section {
    box-sizing: border-box;
  }

  .experience-section::before {
    width: 250px;
    height: 250px;
  }

  .experience {
    float: left;
    width: 25%;
  }

  .experience button {
    display: block;
    background-color: inherit;
    color: #1f1235;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    border-left: 3px solid #fbdd74;
  }

  .experience button:hover {
    background-color: #67568c;
  }

  .experience button.active {
    border: none;
    border-left: 3px solid #1f1235;
  }
  .exp-content {
    float: left;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    height: 300px;
  }

  .featured,
  .portfolio {
    text-align: left;
  }

  .featured,
  .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .featured::before {
    width: 200px;
    height: 360px;
  }

  .left,
  .portfolio-left {
    display: grid;
    place-content: center;
  }

  .right {
    margin-left: 2em;
    margin-top: 1em;
  }

  .skills {
    margin-top: -8em;
    margin-bottom: -9em;
    padding-top: 7em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .portfolio {
    padding-top: 7em;
  }

  .portfolio-container img {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
    display: grid;
    grid-template-columns: 65% auto;
    background: unset;
    padding: 0;

    .content {
      background: #67568c;
      padding: 6em 8em 6em 4em;
      text-align: left;

      h1 {
        font-size: 3.5em;
        line-height: 1.2em;
      }
    }
  }
  .meet {
    justify-content: left;
    margin: unset;
  }

  .nav-container {
    display: grid;
    grid-template-columns: 65% auto;
    background: unset;

    header {
      background: #67568c;
    }
  }
  header {
    padding: 2em 2em 2em 6em;
  }
  .social-header {
    padding: 2em 6em 2em 0;
    display: block;

    ul {
      display: flex;
      justify-content: space-between;
      width: 7em;
      float: right;

      img {
        width: 20px;
      }
    }
  }

  .hero-design {
    display: unset;
    margin-left: -47.9%;
    margin-top: 15%;
    width: 100%;
  }

  .portfolio img {
    float: right;
    max-width: 500px;
  }

  section {
    padding: 6em;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }

  section {
    padding: 10em 10em 4em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  .hero .content {
    padding: 10em 20em 6em 20em;
  }

  section {
    padding: 6em 20em 4em 20em;
  }
}
